/* CSS for the Tender Dashboard */
.tender-dashboard {
    
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 860px;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  h1 {
    font-size: 25px;
    margin: 0;
  }
  
  .upload-button {
    background-color: rgb(37, 37, 154);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .upload-button:hover {
    background-color:rgb(37, 37, 154);
  }
  
  .tender-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tender-table th,
  .tender-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .tender-table th {
    background-color:rgb(37, 37, 154);
    color: #fff;
  }
  
  .tender-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tender-table tbody tr:hover {
    background-color: #e0e0e0;
  }
  